.hero {
  height: max-content;
  position: relative;
}
.hero{
  /* background: url('../assets/hero.jpg'); */
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
      url(../assets/hero.jpg);
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  max-height: 900px;
  background-position: fixed;
  backdrop-filter: brightness(12%);
}
.hero-detail {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0%, -50%);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 1rem 0rem 0rem;
}
.hero-detail span {
  font-size: 15px;
  font-family: cursive;
}
.hero-detail h1 {
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hero-detail button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 1rem;
  font-weight: 800;
  border: 2px solid rgba(255, 255, 255, 0);
  transition: all 250ms ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.hero-detail button:hover{
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 1);
  color: white;
}
.hero-detail button svg {
  stroke: white;
  fill: white;
  display: none;
}
@media (min-width: 700px) {
  .hero-detail {
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
  }
  .hero-detail span{
    font-size: 25px;
  }
  .hero-detail h1{
    font-size: 4rem;
    text-align: center;
  }
  .hero-detail button{
    font-size: 20px;
    padding: 12px 20px;
  }
  .hero-detail .intro {
    text-align: center;
    font-size: 16px;
  }
}
