.info-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: calc(100% - 24px);
  margin: auto;
  flex-wrap: wrap;
  border: 1px solid grey;
  gap: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
}

.col1, .col2{
  display: flex;
  align-items: center;
  gap: 5px;
} 
.col2{
  display: flex;
  border: 1px solid red;
  flex-wrap: wrap;
}
.col2 span{
  display: flex;
  gap: 5px;
  margin-left: 5px;
}
.menu-container:nth-child(1){
  grid-area: mymenu1;
}
.menu-container:nth-child(2){
  grid-area: mymenu2;
}
.menu-container li{
  list-style-type: none;
}
.webname{
  grid-area: webname;
  width: 100%;
  background-color: red;
}
.navbar{
  display: grid;
  text-align: center;
  grid-template-areas: 
  /* 'mymenu1 mymenu2 webname' */
  'webname webname'
  'mymenu1 mymenu2';
  background-color: green;
}
@media (min-width:500px) {
  .navbar{
    background-color: red;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .webname{
    width: auto;
  }
  .navbar{
    padding: .5rem;
  }
}
@media (min-width:700px) {
  .navbar{
    background-color: red;
    display: grid;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    grid-template-areas: 
    /* 'mymenu1 mymenu2 webname' */
    'mymenu1 webname.. mymenu2';
    padding: .5rem 1rem;
  }
  .menu-container{
    display: flex;
    gap: 5px;
  }
}